{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "2",
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 8",
            "not ie <= 10"
          ]
        }
      }
    ],
    "@babel/react",
    "@babel/preset-typescript"
  ],
  "env": {
    "browser": {
      "presets": [
        "next/babel"
      ]
    },
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  },
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [
            {
              "removeAttrs": {
                "attrs": "width, height"
              }
            },
            {
              "removeViewBox": false
            }
          ]
        }
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": false,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }
    ]
  ]
}
